@import url(https://www.flaticon.com/free-icon-font/search_3917754);
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap");
* {
  margin: 0;
}

body {
  font-family: "Inknut Antiqua", serif;
}

.layout {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header header header"
    "mini mini .";
}
.mainlayout {
  display: grid;
  gap: 10px;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-areas:
    "cont consmall siding"
    "cont consmall siding";
}
hr .divide {
  visibility: hidden;
  background-color: black;
  width: 100px;
}
.header {
  grid-area: header;
  background-color: black;
  color: white;
  display: grid;
  width: 100%;
  padding: 5px;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.6fr 2fr;
}

.header a:hover {
  color: gray;
  transition: 1s;
}
.header i {
  padding: 0px 0px 12.5px 0px;
}
.header a {
  color: white;
  text-decoration: none;
  transition: 1s;
}
img {
  width: 100%;
  height: 100%;
}
iframe {
  width: 100%;
  height: 100%;
}
.sidebar {
  grid-area: siding;
  text-align: center;
  background-color: transparent;
}
.sidebar hr {
  visibility: hidden;
  background-color: transparent;
  border-color: transparent;
  transition: 1s;
}

.sidebar a {
  text-decoration: none;
  color: black;
  transition: 1s;
}
.sidebar a hr {
  max-width: 50px;
  margin: 0 auto;
}
.sidebar a:hover {
  transition: 1s;
  text-shadow: 3px 3px 5px darkgray;
}
.sidebar a:hover hr {
  transition: 1s;
  visibility: visible;
  border-color: black;
}

.content {
  border: 10px solid rgba(255, 255, 255, 0.5);
  transition: 1s;
  grid-area: cont;
  display: grid;
  margin: 0px 0px 0px 10px;
  gap: 10px;
  max-height: 700px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "image image"
    "txt txt";
}

.content:hover,
.contentsmall:hover {
  border: solid 10px black;
  border-radius: 10px;
  transition: 1s;
}
.contentsmall {
  border: 10px solid rgba(255, 255, 255, 0.5);
  transition: 1s;
  grid-area: consmall;
  display: grid;
  gap: 10px;
  max-height: 700px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "image image"
    "txt txt";
}

.image {
  grid-area: image;
  background-color: transparent;
  max-height: 500px;
}
.text,
.textspecial {
  grid-area: txt;
  background-color: transparent;
  padding: 10px;
  overflow: scroll;
}
.header2 {
  width: 850px;
  grid-area: mini;
  display: grid;
  background-color: black;
  align-self: center;
  margin: 10px 0px 0px 75px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.header2 a {
  text-decoration: none;
  color: white;
  padding: 0px 0px 0px 20px;
  transition: 1s;
}
.header2 a:hover {
  color: gray;
  transition: 1s;
}

.logo {
  width: 75%;
  margin: auto 20px;
}
.layout hr {
  visibility: hidden;
  height: 100px;
}
.header i {
  align-self: center;
}

/*FONT: INKNUT ANTIQUA*/
